body, td, input, select {
	font-family: 'µ¸¿ò';
	font-size: 13px;
}

#header {
	background-color: black;
}

#header nav ul li {
	display: inline-block;
	margin: 3%;
}

#header a {
	text-decoration: none;
	color: white;
}

#banner {
	width: 10%;
	display: inline-block;
}

div {
	text-align: center;
}

#list_tb {
	width: 100%;
	padding: 0px;
	border: 1px solid #000000;
	border-bottom: 0px;
}

#list_tb th {
	border-bottom: 1px solid #000000;
	border-right: 1px solid white;
	padding: 5px;
	background-color: black;
	color: white;
}

#list_tb td {
	padding: 5px;
	border-bottom: 1px solid #000000;
}

#list_tb .borcle {
	border-right: 0px;
}

#insert{
	text-align: right;
}

#f_radio {
	text-align: right;
}